//- Start DaisyUI Header
if !user
  .navbar.bg-base-100.sticky.top-0.z-30.shadow
    .navbar-start.ml-96
      .dropdown
        .btn.btn-square.btn-ghost(tabindex='0' for='header-drawer' role='button' class='lg:hidden')
          svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h8m-8 6h16')
        ul.menu.menu-sm.dropdown-content.mt-3.p-2.shadow.bg-base-100.rounded-box.w-52(tabindex='0' class='z-[1]')
          li
            a(href='/') Home
          li
            a(href='/features') Features
            //- ul.p-2
            //-   li
            //-     a Submenu 1
            //-   li
            //-     a Submenu 2
          li
            a(href='/contact') Contact
      a.text-xl(href='/')
        img(src='/images/AirSave_logo_bold.png' alt='AirSave Logo' width='100px')
    .navbar-center.hidden(class='lg:flex')
      ul.menu.menu-horizontal.px-1
        li
          a(href='/') Home
        li
          a(href='/features') Features
          //- details
          //-   summary Parent
          //-   ul.p-2
          //-     li
          //-       a Submenu 1
          //-     li
          //-       a Submenu 2
        li
          a(href='/contact') Contact
    .navbar-end.mr-96
      a.btn(href='/login') Go to App
else
  .navbar.bg-base-100.sticky.top-0.z-30.bg-base-200
    .navbar-start.ml-6
      span.text-xl.text-grey-600 Dashboard
      //- .dropdown
      //-   .btn.btn-ghost(tabindex='0' role='button' class='lg:hidden')
      //-     svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor')
      //-       path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h8m-8 6h16')
      //-   ul.menu.menu-sm.dropdown-content.mt-3.p-2.shadow.bg-base-100.rounded-box.w-52(tabindex='0' class='z-[1]')
      //-     li
      //-       a(href='/dashboard') Dashboard
      //-     li
      //-       a(href='/features') Features
      //-       //- ul.p-2
      //-       //-   li
      //-       //-     a Submenu 1
      //-       //-   li
      //-       //-     a Submenu 2
      //-     li
      //-       a(href='/contact') Contact
      //- a.text-xl(href='/')
      //-   img(src='/images/AirSave_logo_bold.png' alt='AirSave Logo' width='100px')
    .navbar-center.hidden(class='lg:flex')
      //- ul.menu.menu-horizontal.px-1
      //-   li
      //-     a(href='/dashboard') Dashboard
      //-   li
      //-     a(href='/features') Features
      //-     //- details
      //-     //-   summary Parent
      //-     //-   ul.p-2
      //-     //-     li
      //-     //-       a Submenu 1
      //-     //-     li
      //-     //-       a Submenu 2
      //-   li
      //-     a(href='/contact') Contact
    .navbar-end.mr-6
      .dropdown.dropdown-end
        .btn.btn-ghost.btn-circle.avatar(tabindex='0' role='button')
          .w-10.rounded-full
            img(src=(user.fields.PROFILE_PICTURE_URL), alt='Profile picture from Gravatar', width='32', height='32')
        ul.menu.menu-sm.dropdown-content.mt-3.p-2.shadow.bg-base-100.rounded-box.w-52(tabindex='0' class='z-[1]')
          li
            a.justify-between(href="/account")
              | Profile
              //- span.badge New
          li
            a(href="/settings") Settings
          li
            a(href="/logout") Logout

