@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

// Custom variables
$primary-color: #3B13B0;
$secondary-color: #FFC107;
// override btn-primary color
$btn-primary-color: #3B13B0;

html {
  scroll-behavior: smooth;
}

// Custom background color class
.bg-primary-color {
  background-color: $primary-color !important;
}

// Custom text color class
.text-primary-color {
  color: $primary-color !important;
}

// Media query for perspective effect on home picture
@media (min-width: 768px) {
  .perspective {
    transform: perspective(1000px) rotateX(18deg) rotateY(332deg) rotateZ(13deg);
  }
}

// Perspective class with border radius and shadow
.perspective {
  border-radius: 8px;
  box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.08);
}

// ------------------------------
// Custom styles
// .container {
//   max-width: 960px;
// }

/*
 * Custom translucent site header
 */

 .site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

 .flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/**
* Sign-in form
**/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-twitter {
  &:hover, &:active {
    color: #FFF !important;
  }
}

.btn-twitter {
  color: #FFF !important;

  &:hover, &:active {
    color: #FFF !important;
    background-color: #0f97ea;
  }
}

.btn-google {
  &:hover, &:active {
    color: #FFF !important;
  }
}

.btn-google {
  color: #FFF !important;

  &:hover, &:active {
    color: #FFF !important;
    background-color: #d93b27;
  }
}

// Add a space after fontawesome icons
.iconpadding{
  padding-right: 6px!important;
}
